{{! data: { instances: [{name, id}] } }}
<div class="main miracle-instance-view ">
  {{#each instances}}
  <mdui-card class="instance-card card-default view-transition" clickable miracle-instance-id="{{ id }}"
    miracle-instance-name="{{ name }}" style="--vtid: instance-{{id}}">
    <div class="content">
      <div class="content-row flex-center">
        <mdui-icon name="dns--two-tone"></mdui-icon>
        <div>{{ name }}</div>
      </div>
      <span class="instance-id">实例 ID: {{ id }} </span>
    </div>
  </mdui-card>
  {{/each}}
</div>