{{! data: { instances: [{name, id}], md:boolean } }}
<div class="main miracle-instance-view {{#if md}}-md{{else}}-sm{{/if}}-content">
  {{#each instances}}
  <mdui-card class="instance-card card-default" clickable data-miracle-instance-id="{{ id }}"
    data-miracle-instance-name="{{ name }}">
    <div class="content">
      <div class="content-row flex-center">
        <mdui-icon name="dns"></mdui-icon>
        <div>{{ name }}</div>
      </div>
      <span class="instance-id">实例 ID: {{ id }} </span>
    </div>
  </mdui-card>
  {{/each}}
</div>